@charset "UTF-8";
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Myriad Pro, Regular';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.family {
  font-family: 'Poppins, Bold';
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  min-width: 960px;
  height: 620px;
  text-align: center;
  background-image: url(https://github.com/yasuhito2318/shiro-copy.github.io/blob/main/img.bg.header.png?raw=true);
  background-size: cover;
}

.header-left {
  float: left;
  padding-top: 59px;
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.header-right {
  float: right;
  padding-top: 59px;
  font-size: 32px;
  color: white;
}

.top {
  padding-top: 136px;
  color: white;
}

.top h1 {
  font-size: 120px;
}

.top p {
  font-size: 16px;
}

.heading {
  padding-top: 80px;
  font-size: 36px;
  text-align: center;
  position: relative;
}

.heading:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -24px;
  /*線の上下位置*/
  display: inline-block;
  width: 40px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #333333;
  /*線の色*/
}

.border {
  padding-top: 57px;
}

.concept {
  min-width: 960px;
  height: 800px;
  text-align: center;
  background: linear-gradient(180deg, white 0%, white 560px, #EDEDED 560px, #EDEDED 100%);
}

.concept-message {
  font-size: 16px;
  color: #2B2B2B;
}

.concept-img {
  padding-top: 40px;
  width: 100%;
  height: 400px;
}

.work {
  min-width: 960px;
  height: 1907px;
}

.work-message {
  text-align: center;
  font-size: 16px;
  padding-bottom: 40px;
  color: #2B2B2B;
}

.work-left {
  float: left;
  width: 420px;
}

.work-left img {
  display: inline-block;
  padding-bottom: 16px;
}

.work-left h2 {
  font-size: 24px;
}

.work-left p {
  height: 84px;
  padding-bottom: 80px;
  font-size: 16px;
  color: #2B2B2B;
}

.work-right {
  float: left;
  width: 420px;
  padding-left: 120px;
}

.work-right img {
  display: inline-block;
  padding-bottom: 16px;
}

.work-right h2 {
  font-size: 24px;
}

.work-right p {
  height: 84px;
  padding-bottom: 80px;
  font-size: 16px;
  color: #2B2B2B;
}

.gift {
  width: 100%;
  height: 420px;
}

.wedding {
  width: 100%;
  height: 630px;
}

.decoration {
  padding-top: 120px;
  width: 100%;
  height: 630px;
}

.for {
  width: 100%;
  height: 400px;
}

.florist {
  min-width: 960px;
  height: 651px;
  background: linear-gradient(180deg, #EDEDED 0%, #EDEDED 374px, white 374px, white 100%);
}

.florist-message {
  text-align: center;
  font-size: 16px;
  padding-bottom: 40px;
  color: #2B2B2B;
}

.member {
  float: left;
  width: 300px;
}

.member img {
  width: 100%;
  height: 180px;
  padding-bottom: 12px;
}

.member h2 {
  font-size: 24px;
}

.member p {
  font-size: 16px;
  color: #2B2B2B;
}

.member.center-mem {
  padding: 0 30px;
}

.info {
  min-width: 960px;
  height: 686px;
}

.info-message {
  text-align: center;
  font-size: 16px;
  padding-bottom: 40px;
  color: #2B2B2B;
}

.info-img {
  width: 480px;
  height: 320px;
  float: left;
}

.details {
  float: left;
  padding-left: 48px;
}

.details p {
  font-size: 16px;
  color: #2B2B2B;
}

.details .adress {
  height: 64px;
}

.details .phone {
  height: 32px;
}

.details .hours {
  height: 64px;
}

.details .access {
  height: 64px;
}

.details .detail {
  padding-left: 40px;
  padding-top: 12px;
}

.details .detail .name {
  width: 64px;
  border-right: 1px solid #A0A0A0;
  padding-right: 16px;
  float: left;
}

.details .detail .content {
  float: left;
  padding-left: 16px;
}

.details .detail .long {
  height: 64px;
}

.details .detail .stren {
  height: 32px;
}

.contact {
  min-width: 960px;
  height: 450px;
  background-image: url(https://github.com/yasuhito2318/shiro-copy.github.io/blob/main/img.bg.contact.png?raw=true);
  background-size: cover;
  text-align: center;
}

.contact-message {
  font-size: 16px;
  padding-bottom: 40px;
}

.btn {
  background-color: white;
  width: 360px;
  height: 80px;
  padding: 30px 107px 30px 79px;
  font-size: 20px;
  color: #2B2B2B;
}

.btn span {
  padding-right: 24px;
}

footer {
  min-width: 960px;
  height: 40px;
  text-align: center;
}

footer p {
  font-size: 16px;
  color: #2B2B2B;
  padding-top: 12px;
}

@media (max-width: 768px) {
  .wrap {
    overflow: hidden;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    min-width: 0;
  }
  header {
    min-width: 0;
    width: 100%;
    height: 100vh;
  }
  header .header-left {
    padding-left: 5%;
    font-size: 10vw;
  }
  header .header-right {
    padding-right: 5%;
    font-size: 10vw;
  }
  .top h1 {
    font-size: 30vw;
  }
  .top p {
    font-size: 8vw;
  }
  .concept {
    min-width: 0;
    width: 100%;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(80%, white), color-stop(80%, #EDEDED), to(#EDEDED));
    background: linear-gradient(180deg, white 0%, white 80%, #EDEDED 80%, #EDEDED 100%);
  }
  .concept img {
    width: 90%;
    height: 100%;
    padding-bottom: 15vh;
  }
  .work {
    min-width: 0;
    width: 100%;
    height: auto;
  }
  .work .work-left {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
  .work .work-left img {
    padding-top: 50px;
    height: auto;
  }
  .work .work-left h2 {
    font-size: 10vw;
  }
  .work .work-left p {
    font-size: 6vw;
    height: auto;
  }
  .work .work-right {
    width: 80%;
    margin: 0 auto;
    float: none;
    padding-left: 0px;
  }
  .work .work-right img {
    padding-top: 50px;
    height: auto;
  }
  .work .work-right h2 {
    font-size: 10vw;
  }
  .work .work-right p {
    font-size: 6vw;
    height: auto;
  }
  .florist {
    width: 100%;
    height: auto;
    min-width: 0;
    background: linear-gradient(180deg, #EDEDED 0%, #EDEDED 374px, #EDEDED 374px, #EDEDED 100%);
  }
  .florist .member {
    padding-top: 50px;
    margin: 0 auto;
    width: 90%;
    float: none;
  }
  .florist .member img {
    height: auto;
    text-align: center;
    display: inline-block;
  }
  .florist .member h2 {
    font-size: 10vw;
  }
  .florist .member p {
    padding-bottom: 50px;
    font-size: 6vw;
  }
  .florist .center-mem {
    padding-left: 0;
    padding-right: 0;
  }
  .info {
    min-width: 0;
    width: 100%;
    height: auto;
  }
  .info .info-img {
    float: none;
    width: 100%;
    height: auto;
  }
  .info .details {
    float: none;
    padding: 0px;
  }
  .info .details .detail {
    width: 100%;
    height: 17vh;
    padding-left: 0;
  }
  .info .details .detail .name {
    text-align: center;
    width: 15%;
    padding-right: 3%;
  }
  .info .details .detail .content {
    padding-left: 3%;
  }
  .info .details p {
    font-size: 5vw;
  }
  .info .mobile {
    width: 90%;
    margin: 0 auto;
  }
  .contact {
    width: 100%;
    height: auto;
    min-width: 0;
    padding-bottom: 50px;
  }
  .border {
    font-size: 6vw;
    padding-left: 5%;
    padding-right: 5%;
  }
  .heading {
    font-size: 12vw;
  }
  .btn {
    margin-top: 150px;
    padding: 0;
    font-size: 7vw;
  }
  footer {
    min-width: 0;
  }
  footer p {
    font-size: 4vw;
  }
}
/*# sourceMappingURL=style.css.map */
